* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --uniqueColor1: #cec0fc;
  --uniqueColor2: #5624d0;
  --uniqueColor3: #9577f9;
  --uniqueBackground: #1c1d1f;
  --uniqueBorder-top: 1px solid #3e4143;
  --uniqueFontFamily: udemy sans, sf pro text, -apple-system, BlinkMacSystemFont,
    Roboto, segoe ui, Helvetica, Arial, sans-serif, apple color emoji,
    segoe ui emoji, segoe ui symbol;
  --uniqueFontWeight: 400;
  --uniqueLineHeight: 1.4;
  --uniqueFontSize: 2.4rem;

}
.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #111111;
  width: 100%;
  box-sizing: border-box;
  /* padding: 20px; */
  overflow: hidden;
}
.slide .image {
  height: 90vh;
  width: 100vw;
  /* border-radius: 3px; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider .left-arrow {
  font-size: 3rem;
  position: absolute;
  top: 85%;
  left: 25%;
  color: #fff;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  border-radius: 50%;
  padding: 5px;
  transform: scale(1.2);
}
.slider .right-arrow {
  font-size: 3rem;
  padding: 5px;
  position: absolute;
  top: 85%;
  right: 25%;
  color: #fff;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  border-radius: 50%;
  transform: scale(1.2);
}

/* content over text */
.imgTextcontent {
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 5em 0em 0em 0em;
}
.imgTextcontent .section-up {
  display: flex;
  justify-content: flex-end;
}
.imgTextcontent .section-up .span-right-box {
  border: 2px solid #fff;
  border-right: none;
  padding: 1.1em 2.9em 1.1em 2em;
}
.imgTextcontent .section-up .span-right-box .editon {
  font-size: 0.8em;
  letter-spacing: 2px;
  font-weight: 700;
}
.imgTextcontent .section-up .span-right-box .year {
  font-size: 1.4em;
  letter-spacing: 2px;
  font-weight: 700;
}
/* border */
/* .border {
  border: 2px solid rgb(218, 131, 131);
} */
.imgTextcontent .section-down {
  margin-top: 3em;
  display: grid;
  grid-template-columns: 10vw 20vw 40vw 30vw;
}
.imgTextcontent .section-down .section-down-one-subbox {
  transform: rotate(270deg);
  font-size: 1.5em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-down .section-down-one-subbox > h2 {
  font-weight: 300;
  letter-spacing: 2px;
}
.imgTextcontent .section-down .section-down-two-subbox {
  font-size: 0.8em;
  font-weight: 800;
  letter-spacing: 1px;
  list-style-type: square;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.imgTextcontent .section-down .section-down-four-subbox {
  padding: 2em;
}
.section-down .section-down-four-subbox > h3 {
  letter-spacing: 1px;
  margin: 0.31em 0 1em 0;
}
.section-down .section-down-four-subbox > p {
  letter-spacing: 1px;
  font-size: 15px;
  word-spacing: 2px;
}
.section-down .button-subbox {
  margin: 1.61em 0 0em 0;
}
.section-down .button-subbox .start-button,
.read-more {
  padding: 0.31em 0.84em;
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  word-spacing: 2px;
  background-color: var(--uniqueColor3);
  color: #fff;
  border: none;
}
.section-down .button-subbox .read-more {
  background: transparent;
  margin-left: 0.8em;
  cursor: pointer;
}
.start-button{
  transition: all 0.6s ease-in-out;
  
}
.start-button:hover{
  transform: scale(1.1);
}

/* responsive */
@media (max-width: 1050px) {
  .slide .image {
    height: 30vh;
  }
}
@media (max-width: 850px) {
  .imgTextcontent .section-down {
    margin-top: 2em;
    display: grid;
    grid-template-columns: 10vw 30vw 20vw 40vw;
  }
  .slide .image {
    height: 60vh;
  }
  .imgTextcontent .section-down .section-down-four-subbox {
    padding: 0.4em;
  }
}
@media (max-width: 550px) {
  .slide .image {
    height: 70vh;
    margin-top: 0em;
  }
  .imgTextcontent .section-down {
    grid-template-columns: auto;
    padding: 1.2em;
  }
  .section-down-one-subbox > h2 {
    display: none;
  }
  .imgTextcontent {
    padding: 2em 0em 0em 0em;
  }
  .section-down .section-down-four-subbox > h3 {
    letter-spacing: 1px;
    margin: 1.31em 0 1.6em 0;
  }
  .section-down .button-subbox {
    margin: 2.91em 0 0em 0;
  }
  .slider .left-arrow {
    left: 5%;
  }
  .slider .right-arrow {
    right: 5%;
  }
}
