* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --uniqueColor1: #cec0fc;
  --uniqueColor2: #5624d0;
  --uniqueColor3: #9577f9;
  --uniqueBackground: #1c1d1f;
  --uniqueBorder-top: 1px solid #3e4143;
  --uniqueFontFamily: udemy sans, sf pro text, -apple-system, BlinkMacSystemFont,
    Roboto, segoe ui, Helvetica, Arial, sans-serif, apple color emoji,
    segoe ui emoji, segoe ui symbol;
  --uniqueFontWeight: 400;
  --uniqueLineHeight: 1.4;
  --uniqueFontSize: 2.4rem;
}
.footer {
  background-color: var(--uniqueColor3);
  color: #fff;
  padding: 8em 3em 3em 3em;
  display: flex;
}
.footer .footer-col {
  width: 33%;
}
.footer .footer-col .footer-col-title {
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 0.4em;
}
.footer .footer-col ul {
  list-style-type: none;
  font-size: 19px;
  font-weight: 500;
}
.footer .footer-col ul li {
  font-size: 17px;
  font-weight: 400;
  padding-bottom: 0.3em;
}
.footer .footer-newslettrer {
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
}
input {
  color: #fff;
  background-color: var(--uniqueColor3);
  border: 2px solid #fff;
  outline: none;
  width: 100%;
  padding: 0.7em 0.4em;
  margin-bottom: 0.6em;
}
.footer-newslettrer .icon-list a {
  padding: 12px;
  font-size: 24px;
  /* border-radius: 50%; */
  /* background-color: #fff; */
  /* color: var(--uniqueColor3); */
  color: #fff;
}
.newsletter-titleAll {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer-newslettrer .follow-icon {
  padding: 0.6em 0;
  display: flex;
  flex-direction: column;
}
.icon-container {
  display: flex;
  padding: 1.2em 0;
  justify-content: space-between;
  align-items: center;
}
.click_up{
  cursor: pointer;
  border-radius: 15px;
  border: none;
  right: 0.4rem;
  bottom: 1rem;
  padding: 0.8rem;
  background-color: #fff;
  color: #5624d0;
  position: fixed;
}
.fa-arrow-up{
  font-size: 1.3rem;
}
.click_up{
  color: var(--uniqueColor3);
    transform: translatey(0px);
    animation: float 3.5s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-15px);
	}
	100% {
		transform: translatey(0px);
	}
}
/* responsive */
@media (max-width: 500px) {
  .footer {
    padding: 4em 2em 1em 2em;
  }
}
@media (max-width: 500px) {
  .footer {
    padding: 3em 1.5em;
    flex-direction: column;
    gap: 2em;
  }
  .footer .footer-col {
    width: auto;
  }
}
