* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --uniqueColor1: #cec0fc;
  --uniqueColor2: #5624d0;
  --uniqueColor3: #9577f9;
  --uniqueBackground: #1c1d1f;
  --uniqueBorder-top: 1px solid #3e4143;
  --uniqueFontFamily: udemy sans, sf pro text, -apple-system, BlinkMacSystemFont,
    Roboto, segoe ui, Helvetica, Arial, sans-serif, apple color emoji,
    segoe ui emoji, segoe ui symbol;
  --uniqueFontWeight: 400;
  --uniqueLineHeight: 1.4;
  --uniqueFontSize: 2.4rem;
  font-family: var(--uniqueFontFamily);
}
